<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfsdw3LCY2s9Lqa_H3pfeS6MXv0v6qbEI</string>
	<key>GCM_SENDER_ID</key>
	<string>1002240921128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sampleForDoIt</string>
	<key>PROJECT_ID</key>
	<string>flutter-doit-project</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-doit-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002240921128:ios:12dcf89d4724318b472f1d</string>
</dict>
</plist>